# Frontend development/preview server
FRONTEND_PORT=3000
FRONTEND_HOST=127.0.0.1
OPEN_PAGE=true

# Development mock API server
MOCK_PORT=3001
MOCK_HOST=127.0.0.1
MOCK_API_URL=http://localhost:3001

# error, warn, verbose, info, or debug
LOG_LEVEL=info
